BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

---
Language: Cpp
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
NamespaceIndentation: All